<div class="p-8 grid md:grid-cols-3 gap-6">
  @for (post of postIts$ | async; track post.id) {
    <mat-card class="bg-yellow-200">
      <mat-card-title>{{ post.titulo }}</mat-card-title>

      <mat-card-content>
        {{ post.descricao }}
      </mat-card-content>

      <mat-card-actions class="flex justify-end gap-2">
        <button mat-icon-button color="primary"
          [routerLink]="['/editar', post.id]">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn"
          (click)="excluir(post.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>

